In [1]:
import pandas as pd
from datetime import datetime, date, time, timedelta
import mysql.connector
from mysql.connector import connect, Error
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Подключаемся к БД
engine = create_engine("mysql+pymysql://root:root@localhost/test")
mydb = engine.raw_connection()

# ЗАДАНИЕ 1

In [3]:
# Загружаем исходные данные
T_CONTRACTOR_SHERULER = pd.read_csv(r'shedulers.csv',encoding='cp1251', sep=';')
T_CONTRACTOR_SHERULER.columns = ['NAME', 'SHEDULE', 'DATE_BEGIN', 'DATE_END']
T_CONTRACTOR_SHERULER.head(8)

          NAME   SHEDULE       DATE_BEGIN         DATE_END
0  Поставщик 1  дддвсвнн  01.01.2019 0:00  10.01.2019 0:00
1  Поставщик 1    ннвннв  11.01.2019 0:00  15.01.2019 0:00
2  Поставщик 1        св  16.01.2019 0:00  20.01.2019 0:00
3  Поставщик 2    свсвсв  01.01.2019 0:00  07.01.2019 0:00
4  Поставщик 2     днвсв  08.01.2019 0:00  14.01.2019 0:00
5  Поставщик 2   ннддвсв  15.01.2019 0:00  31.12.9999 0:00
6  Поставщик 3    нвнвнв  01.01.2019 0:00  01.02.2019 0:00
7  Поставщик 3  двдвдвдв  02.02.2019 0:00  31.12.9999 0:00

In [4]:
#Преобразовываем дату
T_CONTRACTOR_SHERULER['DATE_BEGIN'] = pd.to_datetime(T_CONTRACTOR_SHERULER['DATE_BEGIN'],dayfirst = True,errors = 'coerce')
T_CONTRACTOR_SHERULER['DATE_END'] = pd.to_datetime(T_CONTRACTOR_SHERULER['DATE_END'],dayfirst = True,errors = 'coerce')

In [5]:
#Делаем список из расписания
r = []
for col in T_CONTRACTOR_SHERULER['SHEDULE'].values:
    r.append(list(col))
T_CONTRACTOR_SHERULER['SHEDULE'] = r

In [6]:
# Тут тонкий момент: для того, чтобы выполнялось исходное расписание, поставщики должны работать с переработками
# Чтобы избежать перерабоки, требуется исправить расписание
# Соответсвенно изменить значения UNTIL_NEW_SMENA_DAY у ночной и суточной смены на 16:00:00
    # и поправить часть кода отвечающего за начало нового расписания для этого же поставщика
    
SMENA = pd.DataFrame()
SMENA['TYPE_SMENA'] = ['д','н','с','в']
SMENA['TIME_SMENA'] =['12:00:00','12:00:00','24:00:00','00:00:00']
SMENA['BEGIN_SMENA'] = ['08:00:00','20:00:00','08:00:00','00:00:00']
SMENA['UNTIL_NEW_SMENA_DAY'] = ['04:00:00','-08:00:00','-08:00:00','24:00:00']
SMENA['TIME_SMENA'] = pd.to_timedelta(SMENA['TIME_SMENA'])
SMENA['BEGIN_SMENA'] = pd.to_timedelta(SMENA['BEGIN_SMENA'])
SMENA['UNTIL_NEW_SMENA_DAY'] = pd.to_timedelta(SMENA['UNTIL_NEW_SMENA_DAY'])
SMENA = SMENA.set_index('TYPE_SMENA')
SMENA

                TIME_SMENA     BEGIN_SMENA UNTIL_NEW_SMENA_DAY
TYPE_SMENA
д          0 days 12:00:00 0 days 08:00:00     0 days 04:00:00
н          0 days 12:00:00 0 days 20:00:00   -1 days +16:00:00
с          1 days 00:00:00 0 days 08:00:00   -1 days +16:00:00
в          0 days 00:00:00 0 days 00:00:00     1 days 00:00:00

In [7]:
#Нормализуем данные
shdl = []
nm = []
dt_bgn = []
dt_end = []
index = []
for i,clnd in enumerate(T_CONTRACTOR_SHERULER['SHEDULE'].values):
    for smn in clnd:
        shdl.append(smn)
        nm.append(T_CONTRACTOR_SHERULER['NAME'][i])
        dt_bgn.append(T_CONTRACTOR_SHERULER['DATE_BEGIN'][i])
        dt_end.append(T_CONTRACTOR_SHERULER['DATE_END'][i])
        index.append(T_CONTRACTOR_SHERULER.index[i])
T_CONTRACTOR_SHERULER = pd.DataFrame()
T_CONTRACTOR_SHERULER['NAME_ID'] = index
T_CONTRACTOR_SHERULER['NAME'] = nm
T_CONTRACTOR_SHERULER['SHEDULE'] = shdl
T_CONTRACTOR_SHERULER['DATE_BEGIN'] = dt_bgn
T_CONTRACTOR_SHERULER['DATE_END'] = dt_end
T_CONTRACTOR_SHERULER.head(10)

   NAME_ID         NAME SHEDULE DATE_BEGIN   DATE_END
0        0  Поставщик 1       д 2019-01-01 2019-01-10
1        0  Поставщик 1       д 2019-01-01 2019-01-10
2        0  Поставщик 1       д 2019-01-01 2019-01-10
3        0  Поставщик 1       в 2019-01-01 2019-01-10
4        0  Поставщик 1       с 2019-01-01 2019-01-10
5        0  Поставщик 1       в 2019-01-01 2019-01-10
6        0  Поставщик 1       н 2019-01-01 2019-01-10
7        0  Поставщик 1       н 2019-01-01 2019-01-10
8        1  Поставщик 1       н 2019-01-11 2019-01-15
9        1  Поставщик 1       н 2019-01-11 2019-01-15

In [8]:
# Присоединяем к T_CONTRACTOR_WORK_DAY таблицу SMENA
T_CONTRACTOR_SHERULER = T_CONTRACTOR_SHERULER.merge(SMENA, how = 'left', left_on = 'SHEDULE', right_on = 'TYPE_SMENA')
T_CONTRACTOR_SHERULER.head()

,NAME_ID,NAME,SHEDULE,DATE_BEGIN,DATE_END,TIME_SMENA,BEGIN_SMENA,UNTIL_NEW_SMENA_DAY
0,0,Поставщик 1,д,2019-01-01,2019-01-10,0 days 12:00:00,0 days 08:00:00,0 days 04:00:00
1,0,Поставщик 1,д,2019-01-01,2019-01-10,0 days 12:00:00,0 days 08:00:00,0 days 04:00:00
2,0,Поставщик 1,д,2019-01-01,2019-01-10,0 days 12:00:00,0 days 08:00:00,0 days 04:00:00
3,0,Поставщик 1,в,2019-01-01,2019-01-10,0 days 00:00:00,0 days 00:00:00,1 days 00:00:00
4,0,Поставщик 1,с,2019-01-01,2019-01-10,1 days 00:00:00,0 days 08:00:00,-1 days +16:00:00

In [9]:
# Получаем действущее расписание 
T_CONTRACTOR_SHERULER['START'] = T_CONTRACTOR_SHERULER['DATE_BEGIN'] + T_CONTRACTOR_SHERULER['BEGIN_SMENA']
T_CONTRACTOR_SHERULER['END'] = T_CONTRACTOR_SHERULER['START'] + T_CONTRACTOR_SHERULER['TIME_SMENA']
T_CONTRACTOR_SHERULER['NEW_DAY_BEGIN'] = T_CONTRACTOR_SHERULER['DATE_BEGIN']

for i in range(len(T_CONTRACTOR_SHERULER)-1):

    if T_CONTRACTOR_SHERULER['NAME'][i] == T_CONTRACTOR_SHERULER['NAME'][i+1] and T_CONTRACTOR_SHERULER['DATE_BEGIN'][i] == T_CONTRACTOR_SHERULER['DATE_BEGIN'][i+1]:    
        T_CONTRACTOR_SHERULER['START'][i] = T_CONTRACTOR_SHERULER['NEW_DAY_BEGIN'][i] + T_CONTRACTOR_SHERULER['BEGIN_SMENA'][i]
        T_CONTRACTOR_SHERULER['END'][i] = T_CONTRACTOR_SHERULER['START'][i] + T_CONTRACTOR_SHERULER['TIME_SMENA'][i]
        T_CONTRACTOR_SHERULER['NEW_DAY_BEGIN'][i+1] = T_CONTRACTOR_SHERULER['END'][i] + T_CONTRACTOR_SHERULER['UNTIL_NEW_SMENA_DAY'][i]

    else:
        T_CONTRACTOR_SHERULER['START'][i] = T_CONTRACTOR_SHERULER['NEW_DAY_BEGIN'][i] + T_CONTRACTOR_SHERULER['BEGIN_SMENA'][i]
        T_CONTRACTOR_SHERULER['END'][i] = T_CONTRACTOR_SHERULER['START'][i] + T_CONTRACTOR_SHERULER['TIME_SMENA'][i]

T_CONTRACTOR_SHERULER['START'][len(T_CONTRACTOR_SHERULER)-1] = T_CONTRACTOR_SHERULER['NEW_DAY_BEGIN'][len(T_CONTRACTOR_SHERULER)-1] + T_CONTRACTOR_SHERULER['BEGIN_SMENA'][len(T_CONTRACTOR_SHERULER)-1]
T_CONTRACTOR_SHERULER['END'][len(T_CONTRACTOR_SHERULER)-1] = T_CONTRACTOR_SHERULER['START'][len(T_CONTRACTOR_SHERULER)-1] + T_CONTRACTOR_SHERULER['TIME_SMENA'][len(T_CONTRACTOR_SHERULER)-1]

T_CONTRACTOR_SHERULER = T_CONTRACTOR_SHERULER.drop(['DATE_BEGIN','DATE_END','TIME_SMENA','BEGIN_SMENA','UNTIL_NEW_SMENA_DAY','NEW_DAY_BEGIN'],axis = 1 )
T_CONTRACTOR_SHERULER = T_CONTRACTOR_SHERULER.rename(columns={'START': 'DATE_BEGIN','END': 'DATE_END'})
T_CONTRACTOR_SHERULER.head(10)

   NAME_ID         NAME SHEDULE          DATE_BEGIN            DATE_END
0        0  Поставщик 1       д 2019-01-01 08:00:00 2019-01-01 20:00:00
1        0  Поставщик 1       д 2019-01-02 08:00:00 2019-01-02 20:00:00
2        0  Поставщик 1       д 2019-01-03 08:00:00 2019-01-03 20:00:00
3        0  Поставщик 1       в 2019-01-04 00:00:00 2019-01-04 00:00:00
4        0  Поставщик 1       с 2019-01-05 08:00:00 2019-01-06 08:00:00
5        0  Поставщик 1       в 2019-01-06 00:00:00 2019-01-06 00:00:00
6        0  Поставщик 1       н 2019-01-07 20:00:00 2019-01-08 08:00:00
7        0  Поставщик 1       н 2019-01-08 20:00:00 2019-01-09 08:00:00
8        1  Поставщик 1       н 2019-01-11 20:00:00 2019-01-12 08:00:00
9        1  Поставщик 1       н 2019-01-12 20:00:00 2019-01-13 08:00:00

In [10]:
#Создаем таблицу в SQL
mycursor = mydb.cursor()
mycursor.execute(
    'CREATE TABLE magnit_test.t_contractor_sheruler(' + \
    'ID_NAME INT NULL,' + \
    'NAME TINYTEXT NULL,' + \
    'SHEDULE TINYTEXT NULL,' + \
    'DATE_BEGIN DATETIME NULL,' + \
    'DATE_END DATETIME NULL);'
)

0

In [11]:
#Проверяем сущ. таблицы
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for table in mycursor:
    print('Таблица:',table)

Таблица: ('t_contractor_sheruler',)

In [12]:
# Переносим нашу таблицу из DF в SQL
T_CONTRACTOR_SHERULER.to_sql(name='t_contractor_sheruler', con=engine, if_exists = 'replace', index=False,)

In [13]:
#Проверяем записанные данные
engine.execute("SELECT * FROM t_contractor_sheruler").fetchall()

[(0, 'Поставщик 1', 'д', datetime.datetime(2019, 1, 1, 8, 0), datetime.datetime(2019, 1, 1, 20, 0)),
 (0, 'Поставщик 1', 'д', datetime.datetime(2019, 1, 2, 8, 0), datetime.datetime(2019, 1, 2, 20, 0)),
 (0, 'Поставщик 1', 'д', datetime.datetime(2019, 1, 3, 8, 0), datetime.datetime(2019, 1, 3, 20, 0)),
 (0, 'Поставщик 1', 'в', datetime.datetime(2019, 1, 4, 0, 0), datetime.datetime(2019, 1, 4, 0, 0)),
 (0, 'Поставщик 1', 'с', datetime.datetime(2019, 1, 5, 8, 0), datetime.datetime(2019, 1, 6, 8, 0)),
 (0, 'Поставщик 1', 'в', datetime.datetime(2019, 1, 6, 0, 0), datetime.datetime(2019, 1, 6, 0, 0)),
 (0, 'Поставщик 1', 'н', datetime.datetime(2019, 1, 7, 20, 0), datetime.datetime(2019, 1, 8, 8, 0)),
 (0, 'Поставщик 1', 'н', datetime.datetime(2019, 1, 8, 20, 0), datetime.datetime(2019, 1, 9, 8, 0)),
 (1, 'Поставщик 1', 'н', datetime.datetime(2019, 1, 11, 20, 0), datetime.datetime(2019, 1, 12, 8, 0)),
 (1, 'Поставщик 1', 'н', datetime.datetime(2019, 1, 12, 20, 0), datetime.datetime(2019, 1, 13, 8, 0)),
 (1, 'Поставщик 1', 'в', datetime.datetime(2019, 1, 13, 0, 0), datetime.datetime(2019, 1, 13, 0, 0)),
 (1, 'Поставщик 1', 'н', datetime.datetime(2019, 1, 14, 20, 0), datetime.datetime(2019, 1, 15, 8, 0)),
 (1, 'Поставщик 1', 'н', datetime.datetime(2019, 1, 15, 20, 0), datetime.datetime(2019, 1, 16, 8, 0)),
 (1, 'Поставщик 1', 'в', datetime.datetime(2019, 1, 16, 0, 0), datetime.datetime(2019, 1, 16, 0, 0)),
 (2, 'Поставщик 1', 'с', datetime.datetime(2019, 1, 16, 8, 0), datetime.datetime(2019, 1, 17, 8, 0)),
 (2, 'Поставщик 1', 'в', datetime.datetime(2019, 1, 17, 0, 0), datetime.datetime(2019, 1, 17, 0, 0)),
 (3, 'Поставщик 2', 'с', datetime.datetime(2019, 1, 1, 8, 0), datetime.datetime(2019, 1, 2, 8, 0)),
 (3, 'Поставщик 2', 'в', datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2019, 1, 2, 0, 0)),
 (3, 'Поставщик 2', 'с', datetime.datetime(2019, 1, 3, 8, 0), datetime.datetime(2019, 1, 4, 8, 0)),
 (3, 'Поставщик 2', 'в', datetime.datetime(2019, 1, 4, 0, 0), datetime.datetime(2019, 1, 4, 0, 0)),
 (3, 'Поставщик 2', 'с', datetime.datetime(2019, 1, 5, 8, 0), datetime.datetime(2019, 1, 6, 8, 0)),
 (3, 'Поставщик 2', 'в', datetime.datetime(2019, 1, 6, 0, 0), datetime.datetime(2019, 1, 6, 0, 0)),
 (4, 'Поставщик 2', 'д', datetime.datetime(2019, 1, 8, 8, 0), datetime.datetime(2019, 1, 8, 20, 0)),
 (4, 'Поставщик 2', 'н', datetime.datetime(2019, 1, 9, 20, 0), datetime.datetime(2019, 1, 10, 8, 0)),
 (4, 'Поставщик 2', 'в', datetime.datetime(2019, 1, 10, 0, 0), datetime.datetime(2019, 1, 10, 0, 0)),
 (4, 'Поставщик 2', 'с', datetime.datetime(2019, 1, 11, 8, 0), datetime.datetime(2019, 1, 12, 8, 0)),
 (4, 'Поставщик 2', 'в', datetime.datetime(2019, 1, 12, 0, 0), datetime.datetime(2019, 1, 12, 0, 0)),
 (5, 'Поставщик 2', 'н', datetime.datetime(2019, 1, 15, 20, 0), datetime.datetime(2019, 1, 16, 8, 0)),
 (5, 'Поставщик 2', 'н', datetime.datetime(2019, 1, 16, 20, 0), datetime.datetime(2019, 1, 17, 8, 0)),
 (5, 'Поставщик 2', 'д', datetime.datetime(2019, 1, 17, 8, 0), datetime.datetime(2019, 1, 17, 20, 0)),
 (5, 'Поставщик 2', 'д', datetime.datetime(2019, 1, 18, 8, 0), datetime.datetime(2019, 1, 18, 20, 0)),
 (5, 'Поставщик 2', 'в', datetime.datetime(2019, 1, 19, 0, 0), datetime.datetime(2019, 1, 19, 0, 0)),
 (5, 'Поставщик 2', 'с', datetime.datetime(2019, 1, 20, 8, 0), datetime.datetime(2019, 1, 21, 8, 0)),
 (5, 'Поставщик 2', 'в', datetime.datetime(2019, 1, 21, 0, 0), datetime.datetime(2019, 1, 21, 0, 0)),
 (6, 'Поставщик 3', 'н', datetime.datetime(2019, 1, 1, 20, 0), datetime.datetime(2019, 1, 2, 8, 0)),
 (6, 'Поставщик 3', 'в', datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2019, 1, 2, 0, 0)),
 (6, 'Поставщик 3', 'н', datetime.datetime(2019, 1, 3, 20, 0), datetime.datetime(2019, 1, 4, 8, 0)),
 (6, 'Поставщик 3', 'в', datetime.datetime(2019, 1, 4, 0, 0), datetime.datetime(2019, 1, 4, 0, 0)),
 (6, 'Поставщик 3', 'н', datetime.datetime(2019, 1, 5, 20, 0), datetime.datetime(2019, 1, 6, 8, 0)),
 (6, 'Поставщик 3', 'в', datetime.datetime(2019, 1, 6, 0, 0), datetime.datetime(2019, 1, 6, 0, 0)),
 (7, 'Поставщик 3', 'д', datetime.datetime(2019, 2, 2, 8, 0), datetime.datetime(2019, 2, 2, 20, 0)),
 (7, 'Поставщик 3', 'в', datetime.datetime(2019, 2, 3, 0, 0), datetime.datetime(2019, 2, 3, 0, 0)),
 (7, 'Поставщик 3', 'д', datetime.datetime(2019, 2, 4, 8, 0), datetime.datetime(2019, 2, 4, 20, 0)),
 (7, 'Поставщик 3', 'в', datetime.datetime(2019, 2, 5, 0, 0), datetime.datetime(2019, 2, 5, 0, 0)),
 (7, 'Поставщик 3', 'д', datetime.datetime(2019, 2, 6, 8, 0), datetime.datetime(2019, 2, 6, 20, 0)),
 (7, 'Поставщик 3', 'в', datetime.datetime(2019, 2, 7, 0, 0), datetime.datetime(2019, 2, 7, 0, 0)),
 (7, 'Поставщик 3', 'д', datetime.datetime(2019, 2, 8, 8, 0), datetime.datetime(2019, 2, 8, 20, 0)),
 (7, 'Поставщик 3', 'в', datetime.datetime(2019, 2, 9, 0, 0), datetime.datetime(2019, 2, 9, 0, 0))]

# Задание 2

In [14]:
#Создаем таблицу t_contractor_work_day
mycursor = mydb.cursor()
mycursor.execute(
    'CREATE TABLE magnit_test.t_contractor_work_day(' + \
    'ID_NAME INT NULL,' + \
    'NAME TINYTEXT NULL,' + \
    'DATE_BEGIN DATETIME NULL,' + \
    'DATE_END DATETIME NULL);'
)

0

In [15]:
#Проверяем сущ. таблицы
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for table in mycursor:
    print('Таблица:',table)

Таблица: ('t_contractor_sheruler',)
Таблица: ('t_contractor_work_day',)

# Задание 3

In [16]:
# Создаем процедуру расчета рабочих дней

CREATE DEFINER=`root`@`localhost` PROCEDURE `work_days_prcdr`(IN N_M TEXT, D_B DATETIME, D_E DATETIME)
BEGIN
    REPLACE INTO t_contractor_work_day
    SELECT NAME_ID, NAME, DATE_BEGIN, DATE_END
    FROM t_contractor_sheruler 
    WHERE SHEDULE !='в' AND NAME = N_M AND DATE_BEGIN BETWEEN D_B AND D_E;
END

In [17]:
# Вызываем процедуру
query = ("CALL work_days_prcdr('Поставщик 1','2019-01-10','2019-01-20');")
mycursor.execute(query)
mydb.commit()

In [18]:
# Погружаем созданную процедурой таблицу из SQL
pd.read_sql("SELECT * FROM t_contractor_work_day", con=engine)

   ID_NAME         NAME          DATE_BEGIN            DATE_END
0        1  Поставщик 1 2019-01-11 20:00:00 2019-01-12 08:00:00
1        1  Поставщик 1 2019-01-12 20:00:00 2019-01-13 08:00:00
2        1  Поставщик 1 2019-01-14 20:00:00 2019-01-15 08:00:00
3        1  Поставщик 1 2019-01-15 20:00:00 2019-01-16 08:00:00
4        2  Поставщик 1 2019-01-16 08:00:00 2019-01-17 08:00:00

# ЗАДАНИЕ 4

In [19]:
# Сделать выборку содержащую сколько рабочих дней было у каждого поставщика
query = "SELECT NAME ,COUNT(SHEDULE) AS WORK_DAY_COUNT FROM t_contractor_sheruler " +\
        "WHERE SHEDULE !='в' GROUP BY NAME"
pd.read_sql(query, con=engine)

          NAME  WORK_DAY_COUNT
0  Поставщик 1              11
1  Поставщик 2              11
2  Поставщик 3               7

In [20]:
# Сделать выборку поставщиков, у которых было больше 10 рабочих дней за январь 2019 года
query = "SELECT NAME ,COUNT(SHEDULE) AS WORK_DAY_COUNT FROM t_contractor_sheruler " +\
        "WHERE SHEDULE !='в' AND MONTH(DATE_BEGIN) = 1 AND YEAR(DATE_BEGIN) = 2019 GROUP BY NAME " +\
        "HAVING COUNT(WORK_DAY_COUNT) > 10"
pd.read_sql(query, con=engine)

          NAME  WORK_DAY_COUNT
0  Поставщик 1              11
1  Поставщик 2              11

In [21]:
# Сделать выборку поставщиков, кто работал 14, 15 и 16 января 2019 года
query = "SELECT * FROM t_contractor_sheruler " + \
        "WHERE SHEDULE !='в' AND ((DAY(DATE_BEGIN) BETWEEN 14 AND 16) OR (DAY(DATE_END) BETWEEN 14 AND 16)) AND MONTH(DATE_BEGIN) = 1 AND YEAR(DATE_BEGIN) = 2019"
pd.read_sql(query, con=engine)

   NAME_ID         NAME SHEDULE          DATE_BEGIN            DATE_END
0        1  Поставщик 1       н 2019-01-14 20:00:00 2019-01-15 08:00:00
1        1  Поставщик 1       н 2019-01-15 20:00:00 2019-01-16 08:00:00
2        2  Поставщик 1       с 2019-01-16 08:00:00 2019-01-17 08:00:00
3        5  Поставщик 2       н 2019-01-15 20:00:00 2019-01-16 08:00:00
4        5  Поставщик 2       н 2019-01-16 20:00:00 2019-01-17 08:00:00

# ЗАДАНИЕ 5

In [22]:
# Выгружаем данные
query = "SELECT * FROM t_contractor_sheruler"
T_CONTRACTOR_SHERULER = pd.read_sql(query, con=engine)
T_CONTRACTOR_SHERULER.head()

   NAME_ID         NAME SHEDULE          DATE_BEGIN            DATE_END
0        0  Поставщик 1       д 2019-01-01 08:00:00 2019-01-01 20:00:00
1        0  Поставщик 1       д 2019-01-02 08:00:00 2019-01-02 20:00:00
2        0  Поставщик 1       д 2019-01-03 08:00:00 2019-01-03 20:00:00
3        0  Поставщик 1       в 2019-01-04 00:00:00 2019-01-04 00:00:00
4        0  Поставщик 1       с 2019-01-05 08:00:00 2019-01-06 08:00:00

In [23]:
# Задание 3 
# Создаем процедуру расчета рабочих дней
d_b = '2019-01-10'
d_e = '2019-01-20'
n_m = 'Поставщик 1'
T_CONTRACTOR_WORK_DAY  = T_CONTRACTOR_SHERULER[(T_CONTRACTOR_SHERULER['DATE_BEGIN'] >= d_b) & 
                                               (T_CONTRACTOR_SHERULER['DATE_END'] <= d_e) & 
                                               (T_CONTRACTOR_SHERULER['SHEDULE'] != 'в') &
                                               (T_CONTRACTOR_SHERULER['NAME'] == n_m)].reset_index(drop = True)
T_CONTRACTOR_WORK_DAY

   NAME_ID         NAME SHEDULE          DATE_BEGIN            DATE_END
0        1  Поставщик 1       н 2019-01-11 20:00:00 2019-01-12 08:00:00
1        1  Поставщик 1       н 2019-01-12 20:00:00 2019-01-13 08:00:00
2        1  Поставщик 1       н 2019-01-14 20:00:00 2019-01-15 08:00:00
3        1  Поставщик 1       н 2019-01-15 20:00:00 2019-01-16 08:00:00
4        2  Поставщик 1       с 2019-01-16 08:00:00 2019-01-17 08:00:00

In [24]:
# Задание 4
# Сделать выборку содержащую сколько рабочих дней было у каждого поставщика
T_CONTRACTOR_SHERULER[T_CONTRACTOR_SHERULER['SHEDULE'] != 'в'].groupby(['NAME'])['SHEDULE'].count().reset_index().rename(columns={'SHEDULE': 'WORK_DAY_COUNT'})

          NAME  WORK_DAY_COUNT
0  Поставщик 1              11
1  Поставщик 2              11
2  Поставщик 3               7

In [25]:
# Сделать выборку поставщиков, у которыйх было больше 10 рабочих дней за январь 2019 года
T_WORK_DAY_COUNT = T_CONTRACTOR_SHERULER[(T_CONTRACTOR_SHERULER['SHEDULE'] != 'в') & 
                     (T_CONTRACTOR_SHERULER['DATE_BEGIN'] >= '2019-01-01') &
                     (T_CONTRACTOR_SHERULER['DATE_BEGIN'] <= '2019-01-31')].groupby(['NAME'])['SHEDULE'].count().reset_index().rename(columns={'SHEDULE': 'WORK_DAY_COUNT'})
T_WORK_DAY_COUNT[T_WORK_DAY_COUNT['WORK_DAY_COUNT'] > 10]

          NAME  WORK_DAY_COUNT
0  Поставщик 1              11
1  Поставщик 2              11

In [26]:
# Сделать выборку поставщиков, кто работал 14, 15 и 16 января 2019 года
day_list = ['2019-01-14','2019-01-15','2019-01-16']

T_CONTRACTOR_SHERULER[(T_CONTRACTOR_SHERULER['SHEDULE'] != 'в') & (
                     (T_CONTRACTOR_SHERULER['DATE_BEGIN'].dt.normalize().isin(day_list))| 
                     (T_CONTRACTOR_SHERULER['DATE_END'].dt.normalize().isin(day_list)))]

    NAME_ID         NAME SHEDULE          DATE_BEGIN            DATE_END
11        1  Поставщик 1       н 2019-01-14 20:00:00 2019-01-15 08:00:00
12        1  Поставщик 1       н 2019-01-15 20:00:00 2019-01-16 08:00:00
14        2  Поставщик 1       с 2019-01-16 08:00:00 2019-01-17 08:00:00
27        5  Поставщик 2       н 2019-01-15 20:00:00 2019-01-16 08:00:00
28        5  Поставщик 2       н 2019-01-16 20:00:00 2019-01-17 08:00:00